.companions-wide {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-bottom: 75px;
  background-color: $background--light;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.companions-wide__list {
  @include reset-list;
}
