.companions-filter {
  padding: 25px;
  background-color: $background--light;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;

    padding: 0;
  }
}
