.companions-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 72px;
  background-color: $background--light;

  @media (min-width: $tablet-width) {
    padding: 0 40px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.companions-wide__list {
  @include reset-list;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.companions-wide__show-more-btn {
  margin-left: 25px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 50px;
  }
}
