.country-clear-btn {
  position: absolute;
  right: -10px;
  top: -9px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: $background--light;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 1px;
    background-color: $input-border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 1px;
    background-color: $input-border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    cursor: pointer;
    position: relative;
    top: -2px;
    right: 2px;
    background-color: transparent;
    width: 17px;
    height: 17px;

    &::before {
      width: 22px;
    }

    &::after {
      width: 22px;
    }

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.05;
    }
  }

  @media (min-width: $desktop-width) {
    right: 3px;
  }

}
