.footer {
  position: relative;
  z-index: 10;
  padding: 20px 25px 14px 25px;
  margin-top: -80px;
  margin-bottom: 0;
  background-color: $color-white;
  border-radius: 25px 25px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: -160px;
    border-radius: 60px 60px 0 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
