.navigation-toggle-btn {
  @include no-outline;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: $color-white;
    top: 0;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: $color-white;
    top: 8px;
    right: 0;
  }
}
