.navigation {
  padding: 27px 25px 40px;
  background-color: $color-white;
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.navigation__list {
  margin-bottom: 55px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.navigation__contact-info {
  margin-top: 64px;
  margin-bottom: 42px;
}

.navigation__social {
  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
