.navigation {
  padding: 28px 25px 40px 27px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 40px 40px 65px 40px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--js {
    display: none;
  }
}

.navigation__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.navigation__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
  }
}

.navigation__logo {
  @media (min-width: $tablet-width) {
    padding-top: 6px;
  }
}

.navigation__button-close {
  top: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 25px;
    right: calc(50% - 10px);
  }
}

.navigation__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navigation__list {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 57px;
  }
}

.navigation__contact-info {
  margin-top: 64px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin: 155px 0 153px 5px;
  }
}

.navigation__social {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    padding: 0 57px 0 83px;
  }
}
