.transport-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--catalog {
    @media (min-width: $tablet-width) {
      flex-direction: column;
    }
  }
}
