// COLORS
$color-primary: #192144;
$color-primary--light: #1d2e5b;
$color-primary--lighten: #132576;
$color-primary--dark: #121936;

$color-secondary: #ffd74b;
$color-secondary--dark: #ffbd30;

$color-tertiary: #ff8d30;
$color-tertiary--light: #ffa530;

$color-indicator--offline: #f97676;
$color-indicator--online: #81e31e;

$color-like--heart: #f02323;
$color-like--background: #f9eaea;

$color-lavender: #e2e5f2;
$color-lavender--light: #edeff6;
$color-lavender--lighten: #f3f4f8;
$color-lavender-4: #dfe3f0;
$color-lavender-5: #d4d9eb;

$color-text--dark: #161c35;
$color-text--light: #444444;

$color-white: #ffffff;
$color-grey: #cccccc;
$color-grey-2: #cbced9;
$color-black: #000000;
